<a href="https://colab.research.google.com/github/dhivyapm/divya/blob/master/Confusion_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Confusion Matrix
A **confusion matrix** is a table that is often used to describe the performance of a classification model (or “classifier”) on a set of test data for which the true values are known.

In [0]:
#importing the libraries pandas and numpy
#numpy is usually for computational purpose
import  numpy  as  np
#pandas is usually to convert the array to series or table format(DataFrame)
import pandas as pd

In [0]:
#Here I created dummy dictionary with 2 columns and 4 classes in it.
data = {'Actual': [1, 0, 0, 0, 2, 3],'Predicted':[1, 3, 0, 1, 2, 0]}

In [0]:
data

{'Actual': [1, 0, 0, 0, 2, 3], 'Predicted': [1, 3, 0, 1, 2, 0]}

In [0]:
#here I converted the dictionary into the DataFrame which is nothing but tabular form
df = pd.DataFrame(data, columns=['Actual','Predicted'])

In [0]:
df

   Actual  Predicted
0       1          1
1       0          3
2       0          0
3       0          1
4       2          2
5       3          0

In [0]:
#compute the cross tabulation of two columns
cm = pd.crosstab(df['Actual'], df['Predicted'], rownames=['Actual'], colnames=['Predicted'])

In [0]:
cm

Predicted  0  1  2  3
Actual
0          1  1  0  1
1          0  1  0  0
2          0  0  1  0
3          1  0  0  0

In [0]:
#here I'm converting the table form to array format
cm = np.array(cm)

In [0]:
cm

array([[1, 1, 0, 1],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0]])

**TP(True Positive)**--- It is the diagonal values in the Confusion Matrix.

**FP(False Positive)**--- It is the sum of the columns of the particular class except the True Positive(TP).

**FN(False Negative)**---It is the sum of the rows of the particular class except the True Positive(TP).

**TN(True Negative)**---The sum of all the values in the matrix except the values in the row and column of a particular class.

In [0]:
FP = cm.sum(axis=0) - np.diag(cm)  
TP = np.diag(cm)
FN = cm.sum(axis=1) - np.diag(cm)
TN = cm.sum() - (FP + TP + FN)

In [0]:
#prints the 4 classes TP,FP,TN,FN
print('TP:',TP,'\nFP:',FP,'\nTN:',TN,'\nFN:',FN)

TP: [1 1 1 0]
FP: [1 1 0 1]
TN: [2 4 5 4]
FN: [2 0 0 1]

**Precision** (is also called positive predictive value) is the fraction of relevant instances among the retrieved instances.
(that is True Positive versus True Positive and False Positive).

**Recall** (is also called as sensitivity or True Positive Rate) is the fraction of the total amount of relevant instances that were actually retrieved.
(that is True Positive versus True Positive and False Negative).

In [0]:
precision = TP/(TP + FP)
recall = TP/(TP + FN)

In [0]:
print('label \tprecision \trecall') #header
for label in range(len(np.unique(df['Actual']))): #taken the length of a unique classes as labels
  print(label,'\t',round(precision[label],2),'\t\t',round(recall[label],2))

label 	precision 	recall
0 	 0.5 		 0.33
1 	 0.5 		 1.0
2 	 1.0 		 1.0
3 	 0.0 		 0.0